<p id="notice"><%= notice %></p>
<div class="text-center">
  <h3>Here is your cocktail : </br><h2> <%= @cocktail.name %></h2></h3>

<% @cocktail.photos.each do |photo| %>
<%= cl_image_tag photo.path %>

<% end %>

  <ul style="list-style-type:none">

    <% @cocktail.doses.each do |dose| %>

    <li>

      <%= dose.description  %> , <%= dose.ingredient.name %> ,  <% @cocktail.photos %>

    </li>
    <% if dose.photos.nil? %>
    <%= cl_image_tag dose.photos.first.path, width: 300, height: 200, crop: :fill %>
    <% end %>
    <% end %>


    <%= simple_form_for [@cocktail, @dose] do |f| %>
    <%= f.input :description %>
    <%= f.input :ingredient_id, as: :select, collection: @ingredients %>
    <%= f.input :photos, as: :attachinary %>
    <%= f.submit class: "btn btn-primary" %>
    <% end %>

  </ul>



  <%= link_to 'Back', cocktails_path, class: "btn btn-primary" %>
  <%= link_to 'add dose', new_cocktail_dose_path(@cocktail), class: "btn btn-primary" %>

</div>




