<p id="notice"><%= notice %></p>
<div class="text-center">
<h3>Here is your cocktail : </br><h2> <%= @cocktail.name %></h2></h3>



<ul style="list-style-type:none">
<% @cocktail.doses.each do |dose| %>

<li>

<%= dose.description  %> , <%= dose.ingredient.name %>
</li>

<% end %>

<%= simple_form_for [@cocktail, @dose] do |f| %>
<%= f.input :description %>
<%= f.input :ingredient_id, as: :select, collection: @ingredients %>
<%= f.submit class: "btn btn-primary" %>
<% end %>

</ul>



<%= link_to 'Back', cocktails_path, class: "btn btn-primary" %>
<%= link_to 'add dose', new_cocktail_dose_path(@cocktail), class: "btn btn-primary" %>

</div>




